parameters:
    level: 7
    paths:
        - src
    ignoreErrors:
         - message: '#.*PhpAmqpLib\\Channel\\AMQPChannel::queue_declare\(\) expects array.*#'
           path: 'src/Transport/RabbitMq/RabbitMqTransport.php'