<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" backupGlobals="false" colors="true"
         beStrictAboutOutputDuringTests="true" cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true" failOnWarning="true" failOnNotice="true">
    <php>
        <ini name="error_reporting" value="E_ALL ^E_DEPRECATED"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Nachricht Test Suite">
            <directory>tests</directory>
            <!-- Talks to a real RabbitMQ broker - run separately via phpunit.integration.xml
                 (composer phpunit-integration / phpunit-benchmark), never as part of this suite. -->
            <exclude>tests/Integration</exclude>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="./build/testdox.html"/>
        <testdoxText outputFile="./build/testdox.txt"/>
    </logging>
</phpunit>
